##---- Git Ignores the following ----##

#-----code------

*.zip
*.tar.gz
*.h5
*.hdf5
*.ai
*.mp4
*.png
*jpg
*.eps
#*.bat
*ipynb
#-----tex-------

*.aux
*.log
*.out
*.bcf
*.xml
*.blg
*.bbl
*.toc



##----Still Backing UP------


# --- log files for headersync and bibsync -----

!/.bat/bibsync.log
!.bat/headersync.log


# --- test codes and plot scripts------

!code/scripts/*.ipynb
!code/test/*.ipynb



# ---processed data for plotting------
!data/processed/*


# -----images------

!tex/.src/images/*
!tex/plots/*
!tex/notes/**/*.png



  